.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
._react_fileupload_form_content > div > input[type = file]{
  border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

._react_fileupload_form_content > input[type = submit]{
  border: 1px solid #3f51b5!important;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 10px;
  background: #3f51b5;
  color: #ffffff !important;
}
 ._react_fileupload_form_content input[type=submit]:focus{
  border: 1px solid #3f51b5!important;
}
._react_fileupload_progress_bar{
  background: #3f51b5!important;

}
._react_fileupload_form_content{
  width: 100%;
}
 ._react_fileupload_form_content input[type=submit]{
  width: 100%;
}

._react_fileupload_progress_content > div {
  width: 90% !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
